<h1>FIGHT!</h1>
<h1><%= @player_1.name.upcase %> vs <%= @player_2.name.upcase %></h1>


<h3><%= @player_1.name %>: <%= @player_1.hit_points %>HP</h3>
<h3><%= @player_2.name %>: <%= @player_2.hit_points %>HP</h3>

<a href="/attack">Attack</a>
