

<h1><center>FIGHT!</center></h1>
<h1><center><%= @game.player_1.name.upcase %> vs <%= @game.player_2.name.upcase %></center></h1>
<body bgcolor="green">

<h3><center><%= @game.player_1.name.capitalize %>: <%= @game.player_1.hit_points %>HP</center></h3>
<h3><center><%= @game.player_2.name.capitalize %>: <%= @game.player_2.hit_points %>HP</center></h3>

<center><a href="/attack">Attack</a></center>
